*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-size: 18px;
    color: GhostWhite;
    overflow-x: hidden;
    font-family: 'Paprika', cursive;
}
a{
    text-decoration: none;
}
.video-bg {
    position: absolute;
    z-index:-1;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.home { 
    display: flex;
    background-color:rgba(50, 81, 148, 0.5);
    color:whitesmoke;
    min-height:100vh;
    position: relative; 
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

/*header section*/
.flex-container{
    border-bottom: 1px solid seashell;
    text-align: right;
    height: 60px;
    line-height: 60px;
}
header {
    position: fixed;
    width:100%;
    z-index:1;
    height: 60px;
    border-bottom: 1px solid seashell;
    background-color: rgb(51, 62, 100);
    opacity: .70;
    text-align: right;
    justify-content: center;
}
.menu {
    margin:0 30px 0 0;
}
.menu a{
    clear:right;
    text-decoration: none;
    color:rgb(231, 234, 247);
    margin: 0 10px;
    font-size: 16px;
}
.menu span{
    display:inline-block;
    color: rgb(201, 33, 33);  
}
.menu span:hover {
    background-color: #ababdb8a;;
    border-radius: 10px;
    line-height: 40px;

}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 60px;
    display: none;
    width: 26px;
    float: right;
    color:red;
}
#toggle {
    display: none;
}
@media only screen and (max-width: 500px){
        label{
            display: block;
            cursor:pointer;
        }
        .menu{
            text-align:center;
            display: none;
            width:150px;
        }
        .menu a{
            display:inline;
            margin:0;
            font-size: 14px;
        }
        .menu span{
            display:block;
            margin:0;
            height: 40px;
            border: #FFF 1px solid;
            background-color: rgb(3, 17, 29);
            border-radius:10px;
            line-height: 40px;
        }
        .menu span:hover{
            display:block;
        }
        #toggle:checked + .menu {
            display: block;
            color:red;
        }
}

/*home-welcome */
main{
    display: flex;
    flex-direction:column;
    margin: auto;
}
.profile {
    color: rgb(245, 227, 227);
    display: inline-flexbox;
    flex-direction: row;
    margin-top:20%;
    padding-top:50px;
}
.profile img{
    width: 200px;
    height: 200px;
    float:left;
}
.profile p{
    margin:5px;
    font-size: 18px;
}
.profile h1{
    font-size: 30px;
    text-align: start;
}

.btn-about{
    padding: 10px 15px 10px;
    display: inline-block;
    cursor: pointer;
    border-radius:10px;
    background: rgb(15, 132, 248);
    transition: all 0.5s ease;
}
.btn-about a{
    text-decoration:none;
    text-align: center;
    color:floralwhite;
    font-size:12px;
    font-family: 'Paprika', cursive;;
}
.btn-about:hover{
    background-color: #626d92;
    transition: all 0.3s ease;
}

/*text animation*/

.text-animation{
    text-align:center;
    font-size:55px;
    letter-spacing: 3px;
    height: 30px;
}
.text-animation > span {
    text-transform: uppercase;
    animation: glow 3s ease-in-out infinite;
}
@keyframes glow {
    0%, 100% {
    color: #FFF;
    text-shadow: 0 0 10px #0652DD, 0 0 50px #465d88, 0 0 100px #0652DD;
    }
    10%, 90% {
    color: rgb(12, 37, 92);
    text-shadow:rgb(236, 234, 238);
    }
}
.text-animation > span:nth-child(2) {
    animation-delay: 0.25s;
}
.text-animation > span:nth-child(3) {
    animation-delay: 0.5s;
}
.text-animation > span:nth-child(4) {
    animation-delay: 0.75s;
}
.text-animation > span:nth-child(5) {
    animation-delay: 1s;
}
.text-animation  > span:nth-child(6) {
    animation-delay: 1.25s;
}
.text-animation  > span:nth-child(7) {
    animation-delay: 1.5s;
}

/*media screen*/
@media only screen and (max-width: 500px) {
    .profile h1, h3{
        font-size: 18px;
    }
    .profile p{
        font-size:16px;
    }
    .text-animation{
        font-size:25px;
    }
}

/*about*/

#about .container-resume{
    display: flex;
    flex-direction: column;
    background: url('https://images.pexels.com/photos/5352852/pexels-photo-5352852.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat;
    min-height:100vh;
    opacity: .70;
    margin-top:2px;
    background-size: cover;
}

#about .container-resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10%;
}

.container-resume div{
    padding: 10px 10px 10px;
    margin-bottom: 10px;
    width: 800px;
}
.resume p{
    font-size: 20px;
    text-align:left;
    color: rgb(1, 7, 8);
}

.btn-resume{
    width:130px;
    padding: 10px 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: #466091;
    opacity: .80;
    border-radius:10px;
}
.btn-resume a{
    text-decoration:none;
    text-align: center;
    color:floralwhite;
    font-size:12px;
    font-family: 'Paprika', cursive;;
    display: inline-block;
}
.btn-resume:hover{
    background: rgb(15, 132, 248);
}

@media only screen and (max-width: 500px) {
    .container-resume div{
    width:90%;
    }
    .resume p{
        font-size:16px;
        text-align: justify;
    }
}

/* portfolio */

#portfolio {
    display: flex;
    flex-direction: column;
    min-height:100vh;
    padding-top:10px;
    background:url('https://images.pexels.com/photos/2260649/pexels-photo-2260649.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat;
    background-size: cover;
    opacity:.80;
    margin-top:1px;
}

#portfolio h2{
    text-align: center;
    color: rgb(136, 221, 240);
    font-size:30px;
    padding-bottom:15px;
    text-shadow: 2px 2px rgb(32, 21, 21);
}
.skill-container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-bottom: 20px;
}
.skill-item{
    width:150px;
    padding:5px;
}
.skill-item img{
    width: 150px;
    height: 100px;
}
@media only screen and (max-width: 500px) {
    .skill-container{
        width:90%;
        display:flex;
    }
    .skill-item img{
        width:90%;
    }
    .viewBox {
        width: 80%;
    }
}

/* Projects*/
.project-list span{
    text-align: center;
    padding-bottom: 20px;
}
.project-list{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.project-list div{
    padding:15px 15px 15px;
    margin-right: 10px;
    width:200px;
    height:200px;
    border:rgb(68, 62, 62) 2px solid;
    background-color: rgb(40, 50, 92, 0.5);
}
.project img{
    width:85%;
    height: auto;
}
.project:hover{
    background: rgba(45, 126, 207);
}
.project p{
    text-align: center;
    color: antiquewhite;
}

#contact{
    min-height:30vh;
    margin-top:1px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgba(16, 60, 90, 0.7);
}
#contact p{
    text-overflow: clip;
    text-align: center;
}

/*media & footer*/
.media{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
}
.icon li{
    color: rgb(245, 35, 35);
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: inline-block;
    padding:10px 15px 10px;
}
.icon a{
    color: rgb(247, 238, 238);
    text-decoration: none;
}
footer p{
    font-size: 12px;
    color: rgb(240, 240, 220);
    text-align: center;
}

/* SVG text animation*/

svg{
    padding-top: 10px;
    margin-top: 5px;
}
svg text{
    stroke: rgb(80, 199, 247);
    font-size: 40px;
    font-weight: 500;
    font-family: 'Alegreya', serif;
    stroke-width: 2.5;
    animation: textAnimate 5s infinite alternate;
    letter-spacing: 5px;
    text-shadow: 3px 3px rgb(136, 49, 49);
}
@keyframes textAnimate{
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 25%;
    }
    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -25%;
    }
}
@media only screen and (max-width: 500px){
    svg text {
        font-size:85px;
    }
}

/*media screen*/
@media only screen and (max-width: 500px){
    body{
        font-size: 18px;
    }
}


