*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-size: 18px;
    overflow-x: hidden;
    font-family: 'Paprika', cursive;
    background-color: #12232E;
}
a{
    text-decoration: none;
}
/*section main */
main{
    min-height: 100vh;
}
/*section*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    position:relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}

.sidebar {
position: absolute;
right: 0;
width: 100%;
min-height: 100vh; 
padding: 100px;
display: flex;
justify-content: space-between;
align-items: center;
transition: 0.5s;
z-index: 2;
}
.sidebar.active{
    right: 250px;
}
.menu {
    position:absolute;
    right: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#12232E;
    
}

.menu img{
    width:70%;
}
.menu ul{
    position: relative;
    margin: 3.2em 0;
}
.menu ul li{
    list-style: none;
}
.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 4em;
    font-size: 18px;
    color:#007CC7;
    letter-spacing: 0.1em;
    color: rgba(#FFF, 0.35);
    display: block;
    transition: all ease-out 300ms;
}
.menu ul li a:hover{
    color:#fff; 
}


.sidebar video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0f80b4;
    mix-blend-mode: overlay;
}
.intro {
    position: relative;
    z-index: 10;
}
.intro h2, h3{
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.intro p{
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.actions a{
    display: flex;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    margin-top: 10px;
    color: #111;
    letter-spacing: 1px;
    transition: 0.2s;
    border-radius: 10px;
}
.actions ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width:500px;
}
li .btn-left{
    background-color:transparent;
    border:1px #fff solid;
    color:#fff;
}
li .btn-right{
    background-color:#007CC7;
    border:1px black solid;
    color:#fff;
}
.btn-left:hover{
    letter-spacing: 5px;
    background-color:#007CC7;
    color:#fff;
}
.btn-right:hover{
    letter-spacing: 5px;
    background-color:transparent;
    color:#fff;
}

@media screen and (max-width: 500px){
    .sidebar,
    .sidebar header
    {
    padding: 20px;
    }
    .intro h2, h3    
    {
    font-size: 18px;
    }
    .intro{
        margin-left: 0;
        display:block;
    }
    .actions ul{
        display:flex;
        width:100%;
    }
    .actions a{
        display: flex;
        padding: 5px 15px;
        font-weight: 200;
        margin-top: 10px;
        letter-spacing: none;
        transition: 0.2s;
        border-radius: 10px;
    }
    
}
/*text animation*/

.text-animation{
    text-align:center;
    font-size:40px;
    font-weight:900px;
    letter-spacing: 3px;
    height: 30px;
}
.text-animation > span {
    text-transform: uppercase;
    animation: glow 3s ease-in-out infinite;
}
@keyframes glow {
    0%, 100% {
    color: #FFF;
    text-shadow: 0 0 10px #007CC7, 0 0 50px  #4DA8DA, 0 0 100px #5f8adb;
    }
    10%, 90% {
    color: #00DDFF;
    text-shadow:rgb(236, 234, 238);
    }
}
.text-animation > span:nth-child(2) {
    animation-delay: 0.25s;
}
.text-animation > span:nth-child(3) {
    animation-delay: 0.5s;
}
.text-animation > span:nth-child(4) {
    animation-delay: 0.75s;
}
.text-animation > span:nth-child(5) {
    animation-delay: 1s;
}
.text-animation  > span:nth-child(6) {
    animation-delay: 1.25s;
}
.text-animation  > span:nth-child(7) {
    animation-delay: 1.5s;
}

/*media screen*/
@media screen and (max-width: 500px) {
    .text-animation{
        font-size:25px;
        display:block;
    }
}


/*section about */

.container-about {
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
.resume {
    width:700px;
    margin:auto;
    text-align: justify;
    letter-spacing: 2px;
}
.resume h1{
    text-transform: uppercase;
    color: #fff;
    margin: 20px 0;
    text-align: center;
}
.resume p{
    color: #fff;
    margin:20px 0;
    font-weight: 400;
}
.btn-resume{
    width: 200px;
    display: inline-block;
    background:#20473a;
    padding: 10px 15px;
    transition: 0.2s;
    border-radius: 10px;
    margin: auto;
}
.btn-resume a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    color: rgb(127, 179, 247);
    letter-spacing: 1px;
}
.btn-resume:hover{
    background-color:#636566;
    border:1px black solid;
}

.skills-container {
    width:800px;
    height:350px;
    margin:auto;
}
@media only screen and (max-width: 500px){
    .skills-container{
        width:100%;
        height: auto;
    }
    .resume{
        width:100%;
        display:inline;
    }
}

/* skill progress animation */ 

.bar-container{
    background:url('./images/laptop.jpg');
    background-size:cover;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 5px;
}
.progress-bar{
    border-radius: 14px;
    font-size:14px;
}
.progress-bar span{
    color:rgb(231, 151, 1);
    padding: 5px 20px;
    font-size:16px;
}
.progress-bar > div {
    color: rgb(241, 238, 238);
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 5px;
    border-radius: 10px;
    text-align: right;
    font-style: none;
}
.bar-html {
    background-color: rgb(62, 138, 62);
    border: 2px solid rgb(19, 26, 19);
    animation: html 5s;
}

.bar-css {
    background-color: rgb(54, 145, 95);
    border: 2px solid rgb(19, 26, 19);
    animation: css 5s;
}
.bar-js{
    background-color: rgb(133, 165, 18);
    border: 2px solid rgb(19, 26, 19);
    animation: js 5s;
}
.bar-react{
    background-color: rgb(109, 89, 1);
    border: 2px solid rgb(19, 26, 19);
    animation: react 5s;
}
.bar-c{
    background-color: rgb(126, 109, 36);
    border: 2px solid rgb(19, 26, 19);
    animation: c 5s;
}

@keyframes html{
    0% { width: 0;}
    50% {width: 50% ;background-color: red;}
    70% {width: 70% ;background-color: rgb(0, 255, 106);}
    100% {width: 100% ;background-color:rgb(103, 139, 115);}
}
@keyframes css{
    0% { width:0;}
    50% {width: 50% ;background-color: red;}
    70% {width: 70% ;background-color: rgb(0, 255, 106);}
    100% {width: 100% ;background-color:rgb(103, 139, 115);}
}
@keyframes js {
    0% {width:0;}
    50% {width: 50% ;background-color: red;}
    70% {width: 70% ;background-color: rgb(0, 255, 106);}
    100% {width: 100% ;background-color:rgb(103, 139, 115);}
}
@keyframes react{
    0% {width:0;}
    50% {width: 50% ;background-color: red;}
    70% {width: 70% ;background-color: rgb(0, 255, 106);}
    100% {width: 100% ;background-color:rgb(103, 139, 115);}
}
@keyframes c {
    0% {width:0;}
    50% {width: 50% ;background-color: red;}
    70% {width: 70% ;background-color: rgb(0, 255, 106);}
    100% {width: 100% ;background-color:rgb(103, 139, 115);}
}


/* portfolio section */
.portfolio{
    min-height: 100vh;
}

/* SVG text animation*/

.text {
    padding-top:20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    background: linear-gradient(
        45deg,
        #133594,
        #0d4d58,
        #14dfea,
        #3fc12a,
        #f9ac07,
        #f3cbf3,
        #4b183a,
        #7a3bca,
        #f9ac07,
        #4b501b
    );
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
    background-position: 0 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0 50%;
    }
}
.container-project {
    margin-top:30px;
}
.project-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media only screen and (max-width: 500px){
    .project-box{
    flex-direction: column;
    }
    .text{
        font-size: 25px;
    }
}

.project {
    display: flex;
    flex-flow:column;
    border-radius: 20px;
    max-height: 315px;
    max-width: 450px;
    min-height: 315px;
    min-width: 450px; 
    border: 3px solid rgb(3, 173, 252);
    overflow: hidden;
}
.project-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-info {
    height: 100px;
    width: 100%;
    font-size: 16px;
    background-color: #072f46;
}
.project-info h3, h5 {
    text-align: center;
    color:rgb(215, 203, 224);
}
.project-info a{
    display: inline-block;
    background: rgb(181, 190, 196);
    padding: 5px 10px;
    font-weight: 400;
    color: #111;
    letter-spacing: 1px;
    transition: 0.2s;
    border:1px black solid;
    border-radius:5px;
}
.project-img img{
    width:100%;
    height: 100%;
}

.project:hover{
    border: 15px solid rgb(132, 190, 248);
    border-radius:15px;
    cursor: pointer;
}

/*contact section*/

.contact{
    min-height:100vh;
}
.contact p{
    text-align: center;
    font-size:16px;
    padding-top:75px;
    color: rgb(211, 207, 207);
}

/*contact form*/
form {
    margin: 0 0 2rem 0;
    background-color:#3f3f3f;
    width:50%;
    height: auto;
    margin: auto;
    border:10px rgb(76, 90, 99) solid;
    border-radius:5px;
}

form > :last-child {
    margin-bottom: 0;
}

form > .fields {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -2rem 0 2rem -2rem;
    width: calc(100% + 4rem);
}

form > .fields > .field {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 2rem 0 0 2rem;
    width: calc(100% - 2rem);
}

form > .fields > .field > :last-child {
    margin-bottom: 5px;
}

form > .fields > .field.half {
    width: calc(50% - 1rem);
}

form > .fields > .field.third {
    width: calc(100%/3 - 0.66667rem);
}

form > .fields > .field.quarter {
    width: calc(25% - 0.5rem);
}

@media screen and (max-width: 480px) {
form > .fields {
    margin: -1.5rem 0 2rem -1.5rem;
    width: calc(100% + 3rem);
}
form > .fields > .field {
    padding: 1.5rem 0 0 1.5rem;
    width: calc(100% - 1.5rem);
}
form > .fields > .field.half {
    width: calc(100% - 1.5rem);
}
form > .fields > .field.third {
    width: calc(100% - 1.5rem);
}
form > .fields > .field.quarter {
    width: calc(100% - 1.5rem);
}
}

input[type="text"],
input[type="email"],
input[type="file"],
input[type="url"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0.325rem;
    border: solid 5x rgba(144, 144, 144, 0.25);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
}

    input[type="text"]:invalid,
    input[type="email"]:invalid,
    input[type="file"]:invalid,
    input[type="url"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }

input[type="text"],
input[type="email"],
input[type="file"],
input[type="url"] {
    height: 3rem;
}
.primary{
    padding: 10px 10px 10px;
    border-radius: 10px;
    margin-bottom:10px;
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: #466091;
    opacity: .80;
    color: rgb(224, 230, 231);
}
.primary:hover{
    color: rgb(247, 22, 22);
    background-color:rgb(86, 162, 212);
}


/*media & footer*/
.media{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
    margin-top:20px;
}
.icon li{
    color: rgb(245, 35, 35);
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: inline-block;
    padding:15px 25px 15px;
}

.icon a{
    color:  rgb(135, 186, 197);
    text-decoration: none;
}

footer h6{
    color: rgb(135, 186, 197);
    text-align: center;
    font-size: 12px;
}

